<launch>
    <arg name="set_freq" default="10" doc="set_freq"
    />
    <param name="set_freq" value="$(arg set_freq)"
    />
    <node pkg="beginner_tutorials" name="pub_talker" type="talker" output="screen"
    />
    <node pkg="beginner_tutorials" name="sub_listener" type="listener" output="screen"
    />
</launch>
